[submodule "emilpriver-ocaml"]
	path = emilpriver-ocaml
	url = git@github.com:emilpriver/advent-of-code.git
[submodule "digimatic-cpp"]
	path = digimatic-cpp
	url = git@github.com:digimatic/advent_of_code_2023.git
[submodule "pin2t-kotlin"]
	path = pin2t-kotlin
	url = https://github.com/pin2t/aoc2023
